In [1]:
import pandas as pd
import numpy as np

train = pd.read_csv("../Data/train.csv")

In [2]:
train

,NUMBER,DRIVER_NUMBER,LAP_NUMBER,LAP_TIME,LAP_IMPROVEMENT,CROSSING_FINISH_LINE_IN_PIT,S1,S1_IMPROVEMENT,S2,S2_IMPROVEMENT,...,S1_LARGE,S2_LARGE,S3_LARGE,DRIVER_NAME,PIT_TIME,GROUP,TEAM,POWER,LOCATION,EVENT
0,10,1,1,92,0,NaN,05:43.3,0,35.427,0,...,05:43.3,00:35.4,00:43.3,SB,05:14.7,NaN,JR,NaN,Location 2,Free Practice 2
1,10,1,2,87,2,NaN,25.674,2,33.399,2,...,00:25.7,00:33.4,00:41.9,SB,NaN,NaN,JR,NaN,Location 2,Free Practice 2
2,10,1,3,73,0,B,28.129,0,34.091,0,...,00:28.1,00:34.1,00:57.2,SB,NaN,NaN,JR,NaN,Location 2,Free Practice 2
3,11,1,1,73,0,NaN,01:05.0,0,38.416,0,...,01:05.0,00:38.4,00:56.8,LGRA,00:33.0,NaN,AD,NaN,Location 2,Free Practice 2
4,11,1,2,73,0,NaN,28.013,0,36.743,0,...,00:28.0,00:36.7,00:44.7,LGRA,NaN,NaN,AD,NaN,Location 2,Free Practice 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10271,99,1,17,84,0,NaN,22.936,0,21.231,0,...,00:22.9,00:21.2,00:23.7,PWEHRL,NaN,NaN,TAG,250.0,Location 8,Free Practice 1
10272,99,1,18,70,0,B,23.61,0,22.432,0,...,00:23.6,00:22.4,00:30.3,PWEHRL,NaN,NaN,TAG,235.0,Location 8,Free Practice 1
10273,99,1,19,70,0,NaN,02:17.1,0,22.681,0,...,02:17.1,00:22.7,00:24.3,PWEHRL,01:59.9,NaN,TAG,250.0,Location 8,Free Practice 1
10274,99,1,20,155,2,NaN,22.539,2,21.057,2,...,00:22.5,00:21.1,00:23.5,PWEHRL,NaN,NaN,TAG,250.0,Location 8,Free Practice 1
10275,99,1,21,90,0,NaN,23.193,0,22.026,0,...,00:23.2,00:22.0,00:24.1,PWEHRL,NaN,NaN,TAG,NaN,Location 8,Free Practice 1

In [3]:
train[' S1'] = train[' S1'].str.split(":").str[0]
train[' S2'] = train[' S2'].str.split(":").str[0]
train[' S3'] = train[' S3'].str.split(":").str[0]
train[' ELAPSED'] = train[' ELAPSED'].str.split(":").str[0]
train[' HOUR'] = train[' HOUR'].str.split(":").str[0]
train['S1_LARGE'] = train['S1_LARGE'].str.split(":").str[0]
train['S2_LARGE'] = train['S2_LARGE'].str.split(":").str[0]
train['S3_LARGE'] = train['S3_LARGE'].str.split(":").str[0]
train['PIT_TIME'] = train['PIT_TIME'].str.split(":").str[0]
#train.to_csv("data/train_v1.csv", index=False)

In [4]:
train

,NUMBER,DRIVER_NUMBER,LAP_NUMBER,LAP_TIME,LAP_IMPROVEMENT,CROSSING_FINISH_LINE_IN_PIT,S1,S1_IMPROVEMENT,S2,S2_IMPROVEMENT,...,S1_LARGE,S2_LARGE,S3_LARGE,DRIVER_NAME,PIT_TIME,GROUP,TEAM,POWER,LOCATION,EVENT
0,10,1,1,92,0,NaN,05,0,35.427,0,...,05,00,00,SB,05,NaN,JR,NaN,Location 2,Free Practice 2
1,10,1,2,87,2,NaN,25.674,2,33.399,2,...,00,00,00,SB,NaN,NaN,JR,NaN,Location 2,Free Practice 2
2,10,1,3,73,0,B,28.129,0,34.091,0,...,00,00,00,SB,NaN,NaN,JR,NaN,Location 2,Free Practice 2
3,11,1,1,73,0,NaN,01,0,38.416,0,...,01,00,00,LGRA,00,NaN,AD,NaN,Location 2,Free Practice 2
4,11,1,2,73,0,NaN,28.013,0,36.743,0,...,00,00,00,LGRA,NaN,NaN,AD,NaN,Location 2,Free Practice 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10271,99,1,17,84,0,NaN,22.936,0,21.231,0,...,00,00,00,PWEHRL,NaN,NaN,TAG,250.0,Location 8,Free Practice 1
10272,99,1,18,70,0,B,23.61,0,22.432,0,...,00,00,00,PWEHRL,NaN,NaN,TAG,235.0,Location 8,Free Practice 1
10273,99,1,19,70,0,NaN,02,0,22.681,0,...,02,00,00,PWEHRL,01,NaN,TAG,250.0,Location 8,Free Practice 1
10274,99,1,20,155,2,NaN,22.539,2,21.057,2,...,00,00,00,PWEHRL,NaN,NaN,TAG,250.0,Location 8,Free Practice 1
10275,99,1,21,90,0,NaN,23.193,0,22.026,0,...,00,00,00,PWEHRL,NaN,NaN,TAG,NaN,Location 8,Free Practice 1

In [5]:
# Weather data
train_weather = pd.read_csv("../Data/train_weather.csv")
train_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 914 entries, 0 to 913
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TIME_UTC_SECONDS  914 non-null    int64
 1   TIME_UTC_STR      914 non-null    object
 2   AIR_TEMP          914 non-null    object
 3   TRACK_TEMP        914 non-null    object
 4   HUMIDITY          914 non-null    object
 5   PRESSURE          914 non-null    object
 6   WIND_SPEED        914 non-null    object
 7   WIND_DIRECTION    914 non-null    int64
 8   RAIN              914 non-null    object
 9   LOCATION          914 non-null    object
 10  EVENT             914 non-null    object
dtypes: int64(2), object(9)
memory usage: 78.7+ KB

In [6]:
train_weather

,TIME_UTC_SECONDS,TIME_UTC_STR,AIR_TEMP,TRACK_TEMP,HUMIDITY,PRESSURE,WIND_SPEED,WIND_DIRECTION,RAIN,LOCATION,EVENT
0,1618042506,10/04/21 8:15,15,18.4,60,1018.05,2.12187,165,-1,Location 2,Free Practice 2
1,1618042567,10/04/21 8:16,15.0556,18.4,60,1018.12,1.06093,177,-1,Location 2,Free Practice 2
2,1618042632,10/04/21 8:17,15.0556,18.5,60,1018.12,2.12187,157,-1,Location 2,Free Practice 2
3,1618042697,10/04/21 8:18,15.0556,18.5,60,1018.08,2.12187,163,-1,Location 2,Free Practice 2
4,1618042762,10/04/21 8:19,15.1111,18.5,60,1018.15,3.1828,149,-1,Location 2,Free Practice 2
...,...,...,...,...,...,...,...,...,...,...,...
909,1625936875,10/07/21 17:07,"2,56,111","35,9",75,"1012,84","31,828",324,-1,Location 6,Qualifying Group 4
910,1625936173,10/07/21 16:56,"2,55,556","35,3",76,"1012,97","1,06,093",5,-1,Location 6,Qualifying Group 3
911,1625936234,10/07/21 16:57,"2,55,556","35,4",76,"1012,9","2,12,187",5,-1,Location 6,Qualifying Group 3
912,1625936299,10/07/21 16:58,"2,55,556","35,8",76,"1012,87","1,06,093",328,-1,Location 6,Qualifying Group 3
913,1625936364,10/07/21 16:59,"2,55,556","36,4",76,"1012,87","31,828",321,-1,Location 6,Qualifying Group 3

In [7]:
#split into location due to different number formats
train_weather_l1 = train_weather[train_weather['LOCATION'].isin(['Location 1','Location 2','Location 3','Location 4'])]
train_weather_l1['AIR_TEMP'] = train_weather_l1['AIR_TEMP'] .str.replace(',','.')
train_weather_l1['AIR_TEMP'] = pd.to_numeric(train_weather_l1['AIR_TEMP'])
train_weather_l1['TRACK_TEMP'] = train_weather_l1['TRACK_TEMP'] .str.replace(',','.')
train_weather_l1['TRACK_TEMP'] = pd.to_numeric(train_weather_l1['TRACK_TEMP'])
train_weather_l1['HUMIDITY'] = train_weather_l1['HUMIDITY'] .str.replace(',','.')
train_weather_l1['HUMIDITY'] = pd.to_numeric(train_weather_l1['HUMIDITY'])
train_weather_l1['PRESSURE'] = train_weather_l1['PRESSURE'] .str.replace(',','.')
train_weather_l1['PRESSURE'] = pd.to_numeric(train_weather_l1['PRESSURE'])
train_weather_l1['WIND_SPEED'] = train_weather_l1['WIND_SPEED'] .str.replace(',','.')
train_weather_l1['WIND_SPEED'] = pd.to_numeric(train_weather_l1['WIND_SPEED'])
train_weather_l1

<ipython-input-7-b1a9068a3177>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l1['AIR_TEMP'] = train_weather_l1['AIR_TEMP'] .str.replace(',','.')
<ipython-input-7-b1a9068a3177>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l1['AIR_TEMP'] = pd.to_numeric(train_weather_l1['AIR_TEMP'])
<ipython-input-7-b1a9068a3177>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l1['TRACK_TEMP'] = train_weather_l1['TRACK_TEMP'] .str.replace(',','.')
<ipython-input-7-b1a9068a3177>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l1['TRACK_TEMP'] = pd.to_numeric(train_weather_l1['TRACK_TEMP'])
<ipython-input-7-b1a9068a3177>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l1['HUMIDITY'] = train_weather_l1['HUMIDITY'] .str.replace(',','.')
<ipython-input-7-b1a9068a3177>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l1['HUMIDITY'] = pd.to_numeric(train_weather_l1['HUMIDITY'])
<ipython-input-7-b1a9068a3177>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l1['PRESSURE'] = train_weather_l1['PRESSURE'] .str.replace(',','.')
<ipython-input-7-b1a9068a3177>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l1['PRESSURE'] = pd.to_numeric(train_weather_l1['PRESSURE'])
<ipython-input-7-b1a9068a3177>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l1['WIND_SPEED'] = train_weather_l1['WIND_SPEED'] .str.replace(',','.')
<ipython-input-7-b1a9068a3177>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l1['WIND_SPEED'] = pd.to_numeric(train_weather_l1['WIND_SPEED'])

,TIME_UTC_SECONDS,TIME_UTC_STR,AIR_TEMP,TRACK_TEMP,HUMIDITY,PRESSURE,WIND_SPEED,WIND_DIRECTION,RAIN,LOCATION,EVENT
0,1618042506,10/04/21 8:15,15.0000,18.4,60,1018.050,2.12187,165,-1,Location 2,Free Practice 2
1,1618042567,10/04/21 8:16,15.0556,18.4,60,1018.120,1.06093,177,-1,Location 2,Free Practice 2
2,1618042632,10/04/21 8:17,15.0556,18.5,60,1018.120,2.12187,157,-1,Location 2,Free Practice 2
3,1618042697,10/04/21 8:18,15.0556,18.5,60,1018.080,2.12187,163,-1,Location 2,Free Practice 2
4,1618042762,10/04/21 8:19,15.1111,18.5,60,1018.150,3.18280,149,-1,Location 2,Free Practice 2
...,...,...,...,...,...,...,...,...,...,...,...
812,1614346062,26/02/21 13:27,21.6111,26.0,33,937.217,4.24374,331,-1,Location 1,Qualifying Group 4
813,1614345361,26/02/21 13:16,21.8889,26.9,33,937.251,6.36560,319,-1,Location 1,Qualifying Group 3
814,1614345426,26/02/21 13:17,21.8889,26.7,33,937.285,3.18280,288,-1,Location 1,Qualifying Group 3
815,1614345491,26/02/21 13:18,21.8889,26.7,33,937.285,3.18280,284,-1,Location 1,Qualifying Group 3
816,1614345551,26/02/21 13:19,21.8333,26.6,33,937.352,7.42654,303,-1,Location 1,Qualifying Group 3

In [8]:
train_weather_l2 = train_weather[train_weather['LOCATION'].isin(['Location 5','Location 6','Location 7'])]
train_weather_l2['AIR_TEMP'] = train_weather_l2['AIR_TEMP'] .str.replace(',','')
train_weather_l2['AIR_TEMP'] = pd.to_numeric(train_weather_l2['AIR_TEMP'], errors='coerce')
conditions = [
    (train_weather_l2['AIR_TEMP'] > 100)  & (train_weather_l2['AIR_TEMP'] < 1000),
    (train_weather_l2['AIR_TEMP'] > 1000) & (train_weather_l2['AIR_TEMP'] < 10000),
    (train_weather_l2['AIR_TEMP'] > 10000) & (train_weather_l2['AIR_TEMP'] < 100000),
    (train_weather_l2['AIR_TEMP'] > 100000)]
choices = [train_weather_l2['AIR_TEMP']/10,train_weather_l2['AIR_TEMP']/100,
           train_weather_l2['AIR_TEMP']/1000,train_weather_l2['AIR_TEMP']/10000]
train_weather_l2['AIR_TEMP'] = np.select(conditions, choices, default=20)

train_weather_l2['TRACK_TEMP'] = train_weather_l2['TRACK_TEMP'] .str.replace(',','.')
train_weather_l2['TRACK_TEMP'] = pd.to_numeric(train_weather_l2['TRACK_TEMP'], errors='coerce')

train_weather_l2['HUMIDITY'] = train_weather_l2['HUMIDITY'] .str.replace(',','.')
train_weather_l2['HUMIDITY'] = pd.to_numeric(train_weather_l2['HUMIDITY'], errors='coerce')

train_weather_l2

<ipython-input-8-26dc341c2e69>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l2['AIR_TEMP'] = train_weather_l2['AIR_TEMP'] .str.replace(',','')
<ipython-input-8-26dc341c2e69>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l2['AIR_TEMP'] = pd.to_numeric(train_weather_l2['AIR_TEMP'], errors='coerce')
<ipython-input-8-26dc341c2e69>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l2['AIR_TEMP'] = np.select(conditions, choices, default=20)
<ipython-input-8-26dc341c2e69>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l2['TRACK_TEMP'] = train_weather_l2['TRACK_TEMP'] .str.replace(',','.')
<ipython-input-8-26dc341c2e69>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l2['TRACK_TEMP'] = pd.to_numeric(train_weather_l2['TRACK_TEMP'], errors='coerce')
<ipython-input-8-26dc341c2e69>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l2['HUMIDITY'] = train_weather_l2['HUMIDITY'] .str.replace(',','.')
<ipython-input-8-26dc341c2e69>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_weather_l2['HUMIDITY'] = pd.to_numeric(train_weather_l2['HUMIDITY'], errors='coerce')

,TIME_UTC_SECONDS,TIME_UTC_STR,AIR_TEMP,TRACK_TEMP,HUMIDITY,PRESSURE,WIND_SPEED,WIND_DIRECTION,RAIN,LOCATION,EVENT
207,1627203652,25/07/21 9:00,19.3200,19.3,79.51,"1006,74","1,06",329,0,Location 7,Qualifying Group 1
208,1627203712,25/07/21 9:01,19.2000,19.3,80.21,"1006,73","11,61",321,0,Location 7,Qualifying Group 1
209,1627203772,25/07/21 9:02,19.2500,19.2,79.99,"1006,74","11,59",310,0,Location 7,Qualifying Group 1
210,1627203832,25/07/21 9:03,19.1100,19.2,80.48,"1006,73","21,6",313,0,Location 7,Qualifying Group 1
211,1627204133,25/07/21 9:08,19.2200,19.2,80.73,"1006,73","14,56",305,0,Location 7,Qualifying Group 2
...,...,...,...,...,...,...,...,...,...,...,...
909,1625936875,10/07/21 17:07,25.6111,35.9,75.00,"1012,84","31,828",324,-1,Location 6,Qualifying Group 4
910,1625936173,10/07/21 16:56,25.5556,35.3,76.00,"1012,97","1,06,093",5,-1,Location 6,Qualifying Group 3
911,1625936234,10/07/21 16:57,25.5556,35.4,76.00,"1012,9","2,12,187",5,-1,Location 6,Qualifying Group 3
912,1625936299,10/07/21 16:58,25.5556,35.8,76.00,"1012,87","1,06,093",328,-1,Location 6,Qualifying Group 3
913,1625936364,10/07/21 16:59,25.5556,36.4,76.00,"1012,87","31,828",321,-1,Location 6,Qualifying Group 3

In [9]:
x = np.arange(10)
condlist = [x<3, x>5]
choicelist = [x, x**2]
np.select(condlist, choicelist)

array([ 0,  1,  2,  0,  0,  0, 36, 49, 64, 81])

In [ ]:
train_weather_l2['PRESSURE'] = train_weather_l2['PRESSURE'] .str.replace(',','')
train_weather_l2['PRESSURE'] = pd.to_numeric(train_weather_l2['PRESSURE'], errors='coerce')
conditions = [
    (train_weather_l2['PRESSURE'] > 10000) & (train_weather_l2['PRESSURE'] < 20000),
    (train_weather_l2['PRESSURE'] > 20000) & (train_weather_l2['PRESSURE'] < 200000),
    (train_weather_l2['PRESSURE'] > 200000)]

choices = [train_weather_l2['PRESSURE']/10,
           train_weather_l2['PRESSURE']/100,
           train_weather_l2['PRESSURE']/1000]
train_weather_l2['PRESSURE'] = np.select(conditions, choices, default=1000)


train_weather_l2['WIND_SPEED'] = train_weather_l2['WIND_SPEED'] .str.replace(',','')
train_weather_l2['WIND_SPEED'] = pd.to_numeric(train_weather_l2['WIND_SPEED'], errors='coerce')
conditions = [
    (train_weather_l2['WIND_SPEED'] > 10) & (train_weather_l2['WIND_SPEED'] < 100),
    (train_weather_l2['WIND_SPEED'] > 100) & (train_weather_l2['WIND_SPEED'] < 1000),
    (train_weather_l2['WIND_SPEED'] > 1000) & (train_weather_l2['WIND_SPEED'] < 10000),
    (train_weather_l2['WIND_SPEED'] > 10000) & (train_weather_l2['WIND_SPEED'] < 100000),
    (train_weather_l2['WIND_SPEED'] > 100000)]

choices = [train_weather_l2['WIND_SPEED']/10,
           train_weather_l2['WIND_SPEED']/100,
           train_weather_l2['WIND_SPEED']/1000,
           train_weather_l2['WIND_SPEED']/10000,
           train_weather_l2['WIND_SPEED']/100000,
           ]
train_weather_l2['WIND_SPEED'] = np.select(conditions, choices, default=1)

train_weather = pd.concat([train_weather_l2,train_weather_l2])

train_weather['TIME_UTC_STR'] = pd.to_datetime(train_weather['TIME_UTC_STR'])
#train_weather['hour'] = train_weather['TIME_UTC_STR'].dt.hour
#train_weather['date'] = train_weather['TIME_UTC_STR'].dt.day

#train_weather = train_weather.groupby(['LOCATION', 'EVENT', 'hour']).agg({'AIR_TEMP': ['sum', 'max','mean','min'],
#                                                                          'TRACK_TEMP': 'mean',
#                                                                          'HUMIDITY': 'sum'})


train_weather.to_csv("data/train_weather.csv")